.language-selector-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  gap: 10px;
  font-family: 'Arial', sans-serif;
  padding: 10px;
  margin-top: 180px;
}

.language-selector-label {
  font-size: 1rem;
  color: #4a235a; 
  font-weight: 600;
}

.language-selector {
  padding: 8px 16px;
  font-size: 1rem;
  border: 2px solid #8e44ad; 
  border-radius: 8px;
  background-color: #f9f1f9; 
  color: #4a235a; 
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 2px 5px rgba(142, 68, 173, 0.2); 

  max-height: 50px; 
  overflow-y: auto; 
}

.language-selector:focus {
  border-color: #6c3483; 
  box-shadow: 0 0 5px rgba(108, 52, 131, 0.7); 
}

.language-selector:hover {
  border-color: #6c3483; 
  background-color: #f2e1f7; 
}

.language-selector option {
  padding: 10px;
  color: #4a235a; 
  cursor: pointer;
}

.language-selector option:hover {
  background-color: #6c3483; 
  color: white; 
}
